* {
    box-sizing: border-box;
}

.background {
    background-color: aliceblue;
    width: 70%;
    height: auto; 
    margin: 0 auto;
    padding: 32px;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: Verdana, Arial, sans-serif;
    color: rgb(195, 30, 63);
}

h2 {
    font-size: 20px;
    font-family: Verdana, Arial, sans-serif;
    color: coral;
    margin-top: 0px;
 
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Georgia, Garamond, serif;
    color: navy;
    background-color: rgb(246, 237, 237);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    line-height: 1.5em;

}

img {
    width: 100%;
    height: auto;
}

li {
    font-size: 16px;
    font-family: Georgia, Garamond, serif; 
    color: navy;
    padding: 8px 0px;
    margin-left: 0px;
    line-height: 1.5em;
}

.link {
    font-size: 20px;
    font-family: Garamond, 'Times New Roman', Times, serif;
}


.button-container {
    margin-top: 48px; 
}

button {
    background-color: lightblue;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 300;
    color: navy;
    padding: 8px;
    border: transparent;
    display: block;
    margin: 0 auto;   
}

.steps {
    border: solid 2px coral;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    width: 75%;

}

span {
    display: block;
}

.banana {
    display: inline-block;
    height: 2em;
    width: auto;
    padding-left: 1em;

}