* {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: Verdana, Arial, sans-serif;
    color: rgb(195, 30, 63);
    background-color: white;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Arial, sans-serif;
    color: coral;
 
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Georgia, Garamond, serif;
    color: navy;
    background-color: rgb(246, 237, 237);

}

img {
    width: 100%;
    height: auto;
}

li {
    font-size: 16px;
    font-family: Georgia, Garamond, serif; 
    color: navy;
}

.link {
    font-size: 20px;
    font-family: Garamond, 'Times New Roman', Times, serif;
}


ul,
ol {
    padding-left: 300px;
}

button {
    background-color: lightblue;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 300;
    color: navy
}